@{
    ViewData["Title"] = "Home Page";
}
@model int;
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <button>1</button>
    </div>
    <div>
        <button>2</button>
    </div>
    <div>
        <button>5</button>
    </div>
    <div>
        <button>10</button>
    </div>
    <div>
        @ViewBag.Sum
    </div>
    @Model
</div>
