html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.money-unit-buttons {
    margin-top: 15px;
}

.admin-money-unit-btn {
    background-color: lightgray;
}

.admin-money-unit-btn.active {
    background-color: darkgoldenrod;
}

.admin-beverage {
    padding: 5px;
    border: 1px solid black;
}

.beverages {
}

.beverage-adding-ref {
    margin-top: 15px;
}

.custom-form .form-group {
    margin-bottom: 10px;
}